1. Создайте таблицу с мобильными телефонами (mobile_phones),
используя графический интерфейс. Заполните БД данными. Добавьте
скриншот на платформу в качестве ответа на ДЗ

![Скриншот](screen.png)

In [14]:
import pymysql
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

conn = pymysql.connect(host='localhost',
                       port=int('3306'),
                       user='root',
                       passwd='82418241',
                       db='mobile_phones')

In [15]:
df = pd.read_sql_query("SELECT * FROM mobile_phones.mobile_phones", conn)

print(df)

   id product_name manufacturer  product_count  price
0   1     iPhone X       Apple               3  76000
1   2    iPhone 8        Apple               2  51000
2   3    Galaxy S9      Samsung              2  56000
3   4   Galaxy S8       Samsung              1  41000
4   5     P20 Pro        Huawei              5  36000

2. Выведите название, производителя и цену для товаров, количество
которых превышает 2

In [16]:
df = pd.read_sql_query(
    "SELECT product_name, manufacturer FROM mobile_phones.mobile_phones WHERE product_count > 2", conn)

print(df)

  product_name manufacturer
0     iPhone X       Apple
1     P20 Pro        Huawei

3. Выведите весь ассортимент товаров марки “Samsung”

In [17]:
df = pd.read_sql_query(
    "SELECT product_name, manufacturer, product_count, price FROM mobile_phones.mobile_phones WHERE manufacturer='Samsung'", conn)

print(df)

  product_name manufacturer  product_count  price
0    Galaxy S9      Samsung              2  56000
1   Galaxy S8       Samsung              1  41000

4. (по желанию)* С помощью регулярных выражений найти:

4.1. Товары, в которых есть упоминание "Iphone"

In [18]:
df = pd.read_sql_query(
    "SELECT product_name, manufacturer, product_count, price FROM mobile_phones.mobile_phones WHERE product_name REGEXP 'Iphone' || manufacturer REGEXP 'Iphone'", conn)

print(df)

  product_name manufacturer  product_count  price
0     iPhone X       Apple               3  76000
1    iPhone 8        Apple               2  51000

4.2. Товары, в которых есть упоминание "Samsung"

In [19]:
df = pd.read_sql_query(
    "SELECT product_name, manufacturer, product_count, price FROM mobile_phones.mobile_phones WHERE product_name REGEXP 'Samsung' || manufacturer REGEXP 'Samsung'", conn)

print(df)

  product_name manufacturer  product_count  price
0    Galaxy S9      Samsung              2  56000
1   Galaxy S8       Samsung              1  41000

4.3. Товары, в которых есть ЦИФРЫ

In [20]:
df = pd.read_sql_query(
    "SELECT product_name, manufacturer, product_count, price FROM mobile_phones.mobile_phones WHERE product_name REGEXP '[[:digit:]]' = 1 || manufacturer REGEXP '[[:digit:]]' = 1", conn)

print(df)

  product_name manufacturer  product_count  price
0    iPhone 8        Apple               2  51000
1    Galaxy S9      Samsung              2  56000
2   Galaxy S8       Samsung              1  41000
3     P20 Pro        Huawei              5  36000

4.4. Товары, в которых есть ЦИФРА "8"

In [21]:
df = pd.read_sql_query(
    "SELECT product_name, manufacturer, product_count, price FROM mobile_phones.mobile_phones WHERE product_name REGEXP '[[8]]' = 1 || manufacturer REGEXP '[[8]]' = 1", conn)

print(df)

  product_name manufacturer  product_count  price
0    iPhone 8        Apple               2  51000
1   Galaxy S8       Samsung              1  41000